* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(135deg, #1f2fbf, #3b5bfd, #6f86ff);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  width: 100%;
  max-width: 700px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-box {
  background: #fff;
  padding: 50px 40px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.5);
}

.home-box #head {
  color: rgb(8, 39, 196);
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 5px;
}

.home-box .instructions {
  color: #2e2f6b;
  font-size: 16px;
  margin-bottom: 30px;
}

.modal-box {
  background-color: white !important;
}
.modal-box button {
  color: white !important;
  border: 1 !important;
  padding: 8px 18px !important;
}

.home-box button {
  padding: 12px 30px;
  font-size: 18px;
  background: linear-gradient(135deg, #1f2fbf, #3b5bfd, #6f86ff);
  outline: none;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.home-box button:hover {
  background-color: #334ac0;
}

@media (max-width: 600px) {
  .home-box {
    padding: 30px 20px;
  }

  .home-box h1 {
    font-size: 24px;
  }

  .home-box .instructions {
    font-size: 15px;
  }

  .home-box button {
    width: 100%;
    font-size: 16px;
    padding: 14px 0;
  }
}
