* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body {
  background: linear-gradient(135deg, #0b1359, #2a40ae, #4067c1);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.container {
  width: 70%;
  border-radius: 32px;
  overflow: hidden;
}
.form-container {
  min-height: 80vh;
  background-color: white;
  display: flex;
  width: 100%;
}
img {
  width: 90%;
}
.image-box {
  display: flex;
  background: linear-gradient(120deg, #7e98da, #f6f6fcb8);

  width: 50%;
  align-items: center;
  justify-content: center;
}
.form-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  box-sizing: border-box;
  padding: 3% 0px;
}
.toggle-container {
  background-color: #e0e0e0;
  width: 65%;
  min-width: 185px;
  max-width: 275px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  overflow: hidden;
}
.toggle-container button {
  border: 0px;
  padding: 12px 18px;
  border-radius: 25px;
  width: 100%;
  cursor: pointer;
  font-weight: 700;
}

#loginBtn {
  background: linear-gradient(135deg, #1f2fbf, #3b5bfd, #6f86ff);

  color: white;
}
#registerBtn {
  background-color: #e0e0e0;
}
#loginBtn,
#registerBtn {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}
.forms-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0px;
  height: 100%;
  box-sizing: border-box;
}
#loginForm {
  padding-top: 18px;
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#registerForm {
  padding-top: 18px;
  width: 65%;
  display: none;
  flex-direction: column;
  justify-content: center;
}

.forms-wrapper .input-group {
  margin-top: 4%;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  outline: none;
  border-radius: 4px;
  background-color: rgba(233, 233, 233, 0.158);
}

.forms-wrapper button {
  width: 100%;
  padding: 8px 14px;
  border: none;
  background: linear-gradient(135deg, #1f2fbf, #3b5bfd, #6f86ff);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5%;
}
form {
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.form.active {
  animation: fade-in 1s ease-in-out;

  pointer-events: auto;
}
span {
  color: red;
  opacity: 0.69;
  font-size: 10px;
  font-weight: 600;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@media (max-width: 915px) {
  body {
    display: flex;
    background: white;
    background-color: white;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .form-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
  }
  .image-box,
  .form-box {
    width: 100%;
    background: white;
  }
  .form-box {
    width: 100%;
    background: white;
  }
  .container {
    width: 100%;
  }
}

@media screen and (max-width: 1500px) and (min-width: 916px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .form-container {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 10px;
    overflow: hidden;
    border-radius: 25px;
    padding-bottom: 14px;
  }
  .image-box,
  .form-box {
    width: 100%;
    background: white;
  }
  .form-box {
    width: 100%;
    background: white;
  }
  .container {
    width: 100%;
  }
}
